/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

body {
  font-family: 'Open Sans', sans-serif;
}

div h1 {
  color: #f7fff6;
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  /* Note: If you specify both wdith and height for an image, 
  you will stretch the image. If you don't want that, leave one of them
  unspecified, or as "auto". (auto is the default value). */
  width: 500px; 
  opacity: 0.8;
}

#navbar {
  width: 20vw;
  height: 100vh;
  background: #242221;
  text-align: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#navbar li {
  color: white;
  height: 2rem;
}

#content {
  position: relative;
  top: 0;
  left: 20vw;
  width: 75vw;
}

#content h1 {
  color: #4a6248;
  /* this is a comment */
  font-size: 3rem;
  /* font-weight: normal; */
}

.project {
  margin: 1rem; 
}

.project img {
  border: 3px #242221 solid;
}

.project p {
  /* visibility: hidden; */
  /* display: none; */
}

#heart img {
  width: 1rem;
}